<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/Theme.ChemTrade"
        android:label="ChemLink"
        android:icon="@drawable/ic_chemtrade_logo"
        android:roundIcon="@drawable/ic_chemtrade_logo"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true">

        <activity android:name=".SmsGatewayActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />

        <activity
            android:name=".EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
