<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:theme="@style/Theme.ChemTrade"
        android:label="ChemLink"
        android:icon="@drawable/ic_chemtrade_logo"
        android:roundIcon="@drawable/ic_chemtrade_logo"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity android:name=".SmsGatewayActivity" android:exported="true" android:label="ChemLink SMS Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
